@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    width: 100vw;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    padding-inline: 3rem;
}

#event__banner {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url(./images/homebg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.event__container {
    text-align: center;
}

.event__container h1 {
    color: #dfe1e3;
    font-size: 3.6em;
    font-weight: bold;
    margin-block: 2rem;
}

.event__container p {
    width: 800px;
    color: #fff;
    font-size: 1.3em;
    margin-block-end: 3.5rem;
}

.event__container a {
    color: #fff;
    border: 4px solid /* #337AFF */ rgb(84, 123, 146);
    padding: 1.2rem 3rem;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.3em;
    transition: .5s ease-in-out;

}

.event__container a:hover {
    background: linear-gradient(90deg, hsla(202, 27%, 45%, 1) 0%, hsla(213, 77%, 14%, 1) 100%);
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: absolute;
    bottom: -30px;
    left: 20%;
    width: 60%;
    height: 18%;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    border-radius: 15px;
    border: 5px solid #858e96;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.time-section {
    text-align: center;
    margin: 0 10px;
}

.time {
    font-size: 2.3em;
    font-weight: bold;
}

.label {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}

.separator {
    font-size: 2.5em;
    font-weight: bold;
}

@media (max-width: 480px) {
    section {
        padding-inline: 2rem;
    }

    .event__container h1 {
        font-size: 2em;
        margin-block: 1rem;
    }

    .event__container p {
        color: #fff;
        font-size: 1em;
        width: 350px;
        text-align: center;
        margin-block-end: 3rem;
    }

    .event__container  a {
        padding: 10px 20px;
        font-size: 1em;
    }

    .countdown {
        width: 90%;
        left: 20px;
        bottom: 10px;

    }

    .time {
        font-size: 1.5em;
        font-weight: bold;
    }

    .separator {
        font-size: 1.3em;
        font-weight: bold;
    }
}


/* ! Guest Speakers section */

.speaker__tittle {
    font-size: 2.5em;
    font-weight: bold;
    margin-block: 0 2rem;
}

#speakers {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.cards{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
    flex-wrap: wrap;
    margin-block-end: 1rem;
}

.profile__card {
    background-color: white;
    border: 1px solid #858e961e;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 250px;
    transition: .4s ease-in-out;
}

.profile__card:hover {
    box-shadow: 8px 8px 6px -7px rgba(0,0,0,0.20);
    transform: scale(1.08) rotate(1deg);
}

.profile__image img {
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.profile__card h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.profile__card p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

@media (max-width: 480px) {

    section {
        padding-inline: .5rem;
    }

    .speaker__container h2 {
        font-size: 2.8em;
    }

    .profile__card {
        padding: 10px;
        width: 90%;
    }

    .profile__image img {
        margin: 10px;
    }

    .cards{
        width: 100%;
        grid-template-columns: 1fr;
    }
}

/* Footer */

footer {
    width: 100%;
    background-color: #1E2850;
    text-align: center;margin-top: 1rem;
}

footer .upper__side {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding-block: 2rem;
    background-color: #002F6F;
}

.upper__side p {
    font-size: 1.3em;
    color: #fff;
    font-weight: 500;
}

.upper__side a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    border: 3px solid #fff;
    padding: 10px 30px;
    border-radius: 50px;
}

footer p {
    color: #fff;
    font-size: 1em;
    padding-block: 1rem;
}


@media (max-width: 500px) {

    footer .upper__side {
        flex-direction: column;
        gap: 0;
    }

    footer .upper__side {
        padding-block: 1rem;
    }

    .upper__side a {
        font-size: 1.2em;
        padding: 8px 25px;
        border-radius: 50px;
    }
}